body {
    display: flex;              
    justify-content: center;   
    align-items: center;   
    min-height: 100vh;  
    padding: 35px 16px;        
}


.register-form {
    display: flex;
    flex-direction: column;
    gap: 24px;                  
    padding: 40px;               
    border-radius: 0.5rem;   
    background-color: var(--primary);
    width: 470px;                
    max-width: 100%;             
    box-sizing: border-box;   
    border: solid 1px var(--border);   
}

.register-form h1 {
    text-align: center;
    color: var(--foreground);
    margin-bottom: 5px;         
}

.register-form label {
    color: var(--foreground);
    font-size: 16px;     
}

.register-form input {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 12px;              
    background-color: var(--background);
    color: var(--primary-text);
    outline: none;
    width: 100%;                 
    box-sizing: border-box;
    margin-top: 6px;
}

.register-form input:focus {
    border-color: #5a87e6;      
}

.register-form button {
    padding: 14px;
    background-color: #5a87e6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    width: 100%;                 
    font-size: 16px;
    transition: 0.2s; 
}

.register-form button:hover {
  background-color: #4f7bd1;
}


.register-form button:active {
    background-color: #436fc1;
}

a {
    color: #5a87e6;          
    text-decoration: none;     
    font-weight: 500;        
    transition: color 0.2s;   
}

a:hover {   
    color: #436fc1;         
    text-decoration: underline; 
}
