body {
    display: flex;              
    justify-content: center;   
    align-items: center;   
    padding: 35px 16px; 
    min-height: 100vh;  
}

main {
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 19px;                  
    padding: 40px;               
    border-radius: 0.5rem;   
    background-color: var(--primary);
    max-width: 470px;
    width: 100%;             
    box-sizing: border-box;   
    border: solid 1px var(--border);  
    margin: 0 auto; 
}

.register-form h1 {
    text-align: center;
    color: var(--foreground);
    margin-bottom: 5px;         
}

.register-form label {
    color: var(--foreground);
    font-size: 16px;     
}

.register-form input {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 12px;              
    background-color: var(--background);
    color: var(--primary-text);
    outline: none;
    width: 100%;                 
    box-sizing: border-box;
    margin-top: 6px;
}

.register-form input:focus {
    border-color: #5a87e6;      
}

.register-form button {
    padding: 14px;
    background-color: #5a87e6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    width: 100%;                 
    font-size: 16px;
    transition: 0.2s; 
}

.register-form button:hover {
  background-color: #4f7bd1;
}


.register-form button:active {
    background-color: #436fc1;
}

p {
    text-align: center;
}

@media (max-width: 500px) {
    body {
        padding: 20px 12px;
    }
    
    .register-form {
        height: auto;
        padding: 25px;
        gap: 16px;
    }
}  

.register-error{
    display: none;
    color: #e14554;
    font-size: 14px;
}   
