.search-btn {
    background-color: var(--secondary);
    border: 1px solid var(--border);
}
.search-btn:hover {
    background-color: var(--secondary);
    border: 1px solid var(--border);
}

.search-btn:active {
    background-color: #e8e8ed !important;
    border: 1px solid #e8e8ed !important;
}


.navbar .container{
  padding: 20px 50px;
  max-width: 625px;

}
.form-control{
  padding: 10px 20px; 
  background-color: var(--secondary);
}


.favorite-icon {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 8px;
}
.products-container {
  margin: 10px 20px;
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;             
  justify-content: center; 
}

.product-card {
  position: relative;
  width: 275px;
  height: 385px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
  vertical-align: top;
  background-color: var(--secondary);
}

.product-card img {
  max-height: 300px;
  width: 100%;
  height: auto;          
  flex-shrink: 0;
}

.product-card .card-body {
  flex: 1;               
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}




@media (max-width: 600px) {
  .product-card {
    width: 200px;
    height: 280px;
  }
  .product-card img {
    max-height: 200px;
  }

}

@media (max-width: 350px) {
  .input-group input::placeholder {
    color:transparent;
  }
}



